<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">logs</Property>
        <Property name="timezone">+04:00</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger"
                     fileName="${basePath}/app-log.log"
                     filePattern="${basePath}/app-log-%d{yyyy-MM-dd_HH-mm-ss}{${timezone}}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}{${timezone}} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- Only roll once per run (or on start) -->
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}{${timezone}} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.test.app" level="debug" additivity="true">
            <AppenderRef ref="fileLogger"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>